<div class="container">
<!-- this is how to hide stuff just for the admin -->
<% if @user.admin == true %>
  secret admin page!!!
<% end %>

<div class="new-order-box">
  <div class="col-md-4 col-sm-6">
  <div class="new-order-box-content">
    <button class="btn waves-effect waves-light black hidebutton new-order-button">+</button>
    <h2>Create a new order</h2>
  </div>

  <!-- This is for order -->
  <div class="new-order-form">
    <div class="form">
        <form action="/orders" method='POST'>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="col-lg-offset-10 col-md-offset-7 col-sm-offset-9 col-xs-offset-8 field">
            <h4>Name </h4>
            <input type="text" name="name" value="">
          </div>
          <div class="col-lg-offset-10 col-md-offset-7 col-sm-offset-9 col-xs-offset-8 field">
            <h4>Date Needed</h4>
            <input type="date" name="date">
          </div>
            <input type="hidden" name="complete" value="f">
          <div class="form-group">
            <h4>Shipping</h4>
            <select name="shipping" class="form-control shipping-select" id="exampleFormControlSelect1">
              <option value="pick_up">Pick Up</option>
              <option value="shipping">Shipping</option>
            </select>
          </div>
      </div>

          <div class="shipping-field field  col-md-offset-12">
            <h4 class="col-md-offset-6">Shipping Address</h4>
            <div class="row pull-right">
              <input type="text" name="contact_name" value="Contact Name">
              <input type="text" name="address" value="Address">
              <input type="text" name="state" value="State">
              <input type="text" name="zip_code" value="Zip code">
            </div>

          </div>
          <div class="col-md-offset-12 field">
            <input class="btn waves-effect waves-light black new-order-submit" type="submit">
          </div>
      </form>

  </div>
  </div>
</div>

</div>

<hr>
<!-- this displays the orders created by the users -->
<div class="current-orders-container">
<h1>Current Orders</h1>
  <% @orders.each do |x| %>
  <% if x['complete'] == false %>
    <h3><%= x['name'] %></h3>
    complete<%= x['complete'] %>
    id <%= x['id'] %>
    user id<%= x['user_id'] %>
    <br>
  <a href='/orders/<%=x['id']%>/edit'>Confirm Order</a><br>
  <a href='/orders/<%=x['id']%>'>Add To Order</a><br>
  <%= link_to "Remove Order", x, method: :delete %>



  <% end %>

  <% end %>

</div>


<hr>
<!-- this displays the orders created by the users -->
<div class="past-orders-container">
<h1>Previous Orders</h1>
<% @orders.each do |x| %>
<!-- matches user id and displays just their info -->
    <div class="field">
      <% if x.user_id == @user.id %>
      <% if x['complete'] == true %>
      <h3><%= x['name'] %></h3>
      complete<%= x['complete'] %>
      id <%= x['id'] %>
      user id<%= x['user_id'] %><br>
      <a href="/orders/<%= x['id'] %>">View Order Details</a><br>
      <%= link_to "Remove Order", x, method: :delete %>
    </div>

    <div class="field">
    </div>

    <!-- reorder -->
    <div class="form-a">
        <form action="/orders" method='POST'>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="name" value="<%= x['name'] %> Reorder">
          <input type="hidden" name="date" value="<%= x['date'] %>">
          <input type="hidden" name="shipping" value="<%= x['shipping'] %>">
          <input type="hidden" name="contact_name" value="<%= x['contact_name'] %>">
          <input type="hidden" name="address" value="<%= x['address'] %>">
          <input type="hidden" name="state" value="<%= x['state'] %>" >
          <input type="hidden" name="zip_code" value="<%= x['zip_code'] %>">
          <input type="hidden" name="complete" value="t">
          <input class="btn waves-effect waves-light black new-order-submit" type="submit">
        </form>
    </div>

    <!-- shirt details -->

    <% end %>
  <% end %>

<% end %>
</div>

</div>
